@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham Bold';
  src: url('../assets/fonts/Gotham_Bold_Regular.ttf');
}

body {
  color: #393b3b;
  font-family: 'Lato';
  font-weight: 300;
  letter-spacing: 0.025rem;
}

.rounded-xl {
  border-radius: 50px;
}
